
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAnexosLabel">Create or edit a Anexos</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.anexos.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.anexos.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_descripcion">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                    ng-model="vm.anexos.descripcion"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_archivo">Archivo</label>
            <input type="text" class="form-control" name="archivo" id="field_archivo"
                    ng-model="vm.anexos.archivo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="oficialiaElectoralApp.anexos.id_numero_solicitud" for="field_id_numero_solicitud">Id Numero Solicitud</label>
            <input type="text" class="form-control" name="id_numero_solicitud" id="field_id_numero_solicitud"
                    ng-model="vm.anexos.id_numero_solicitud"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="oficialiaElectoralApp.anexos.id_procede" for="field_id_procede">Id Procede</label>
            <input type="text" class="form-control" name="id_procede" id="field_id_procede"
                    ng-model="vm.anexos.id_procede"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
