
<div>
    <h2><span>Expediente</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="oficialiaElectoralApp.peticion.numero_peticion">Numero Peticion</span></dt>
        <dd>
            <span>{{vm.peticion.numero_peticion}}</span>
        </dd>
        <dt><span>Nombre Solicitante</span></dt>
        <dd>
            <span>{{vm.peticion.nomsolicitante}} {{vm.peticion.paternosolicitante}} {{vm.peticion.maternosolicitante}}</span>
        </dd>
        <dt><span>Cargosolicitante</span></dt>
        <dd>
            <span>{{vm.peticion.cargosolicitante}}</span>
        </dd>
        <dt><span>Direccionsolicitante</span></dt>
        <dd>
            <span>{{vm.peticion.direccionsolicitante}}</span>
        </dd>
        <dt><span>Fechayhora</span></dt>
        <dd>
            <span>{{vm.peticion.fechayhora | date:'medium'}}</span>
        </dd>
        <dt><span>Actocertificar</span></dt>
        <dd>
            <span>{{vm.peticion.actocertificar}}</span>
        </dd>
        <dt><span>Oficio</span></dt>
        <dd>
            <div ng-if="vm.peticion.oficio">
                <button type="submit" class=class="btn btn-success btn-sm" ng-click= "vm.openFile(vm.peticion.oficioContentType, vm.peticion.oficio)">
                  <span class="glyphicon glyphicon-alert"></span>
            </div>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="peticion-detail.edit({id:vm.peticion.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Evaluar</span>
    </button>

</div>
