
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPeticionLabel">Nueva Solicitud</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
      <div class="form-group" ng-show="vm.peticion.id">
            <label for="id">ID</label>
            modal fade bs-example-modal-lg in
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.peticion.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="oficialiaElectoralApp.peticion.id_numero_solicitud" for="field_id_numero_solicitud">Numero de Solicitud</label>
            <input placeholder="Identificador"type="text" class="form-control" name="id_numero_solicitud" id="field_id_numero_solicitud"
                    ng-model="vm.peticion.id_numero_solicitud"
                    required/>
            <div ng-show="editForm.id_numero_solicitud.$invalid">
                <p class="help-block"
                    ng-show="editForm.id_numero_solicitud.$error.required">
                </p>
            </div>
        </div>
          <div class="form-group">
              <label class="control-label" for="field_fechayhora">Fecha Solicitud</label>
                  <div class="input-group">
                      <input placeholder="aaaa-mm-dd hh:mm"id="field_fechayhora" type="text" class="form-control" name="fechayhora" datetime-picker="{{dateformat}}" ng-model="vm.peticion.fechayhora" is-open="vm.datePickerOpenStatus.fechayhora"
                      required/>
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechayhora')"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </div>
              <div ng-show="editForm.fechayhora.$invalid">
                  <p class="help-block"
                      ng-show="editForm.fechayhora.$error.required">
                  </p>
                  <p class="help-block"
                      ng-show="editForm.fechayhora.$error.ZonedDateTimelocal">
                  </p>
              </div>
          </div>
        <h4 class="modale-title">Solocitante </h4>
        <div class="form-group">
            <label class="control-label" for="field_nomsolicitante">Nombre</label>
            <input placeholder="Nombre(s)"type="text" class="form-control" name="nomsolicitante" id="field_nomsolicitante"
                    ng-model="vm.peticion.nomsolicitante"
                    required/>
            <div ng-show="editForm.nomsolicitante.$invalid">
                <p class="help-block"
                    ng-show="editForm.nomsolicitante.$error.required">
                </p>
            </div>
            <label class="control-label" for="field_paternosolicitante">Apellido</label>
            <input placeholder="Paterno"type="text" class="form-control" name="paternosolicitante" id="field_paternosolicitante"
                    ng-model="vm.peticion.paternosolicitante"
                    required/>
            <div ng-show="editForm.paternosolicitante.$invalid">
                <p class="help-block"
                    ng-show="editForm.paternosolicitante.$error.required">
                </p>
            </div>
            <input placeholder="Materno"type="text" class="form-control" name="maternosolicitante" id="field_maternosolicitante"
                    ng-model="vm.peticion.maternosolicitante"
                    required/>
            <div ng-show="editForm.maternosolicitante.$invalid">
                <p class="help-block"
                    ng-show="editForm.maternosolicitante.$error.required">
                </p>
            </div>
            <label class="control-label" for="field_cargosolicitante">Cargo</label>
            <input placeholder="Cargo"type="text" class="form-control" name="cargosolicitante" id="field_cargosolicitante"
                    ng-model="vm.peticion.cargosolicitante"/>
                    <label class="control-label" for="field_direccionsolicitante">Direccion</label>
                    <input placeholder="Direccion" type="text" class="form-control" name="direccionsolicitante" id="field_direccionsolicitante"
                            ng-model="vm.peticion.direccionsolicitante"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_actocertificar">Actocertificar</label>
            <input type="text" class="form-control" name="actocertificar" id="field_actocertificar"
                    ng-model="vm.peticion.actocertificar"
                    required/>
            <div ng-show="editForm.actocertificar.$invalid">
                <p class="help-block"
                    ng-show="editForm.actocertificar.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setOficio($file, vm.peticion)">
            <label class="control-label" for="field_oficio">Oficio</label>
            <div>
                <div ng-if="vm.peticion.oficio" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.peticion.oficioContentType, vm.peticion.oficio)">open</a><br>
                    <span class="pull-left">{{vm.peticion.oficioContentType}}, {{vm.byteSize(vm.peticion.oficio)}}</span>
                    <button type="button" ng-click="vm.peticion.oficio=null;vm.peticion.oficioContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <spanhange="vm.setOficio($file, vm.peticion)">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="oficio" id="field_oficio"
                    ng-model="vm.peticion.oficio"
                    />
            <input type="hidden" class="form-control" name="oficioContentType" id="field_oficioContentType"
                    ng-model="vm.peticion.oficioContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="oficialiaElectoralApp.peticion.nom_reps_solicitud" for="field_nom_reps_solicitud">Nom Reps Solicitud</label>
            <input type="text" class="form-control" name="nom_reps_solicitud" id="field_nom_reps_solicitud"
                    ng-model="vm.peticion.nom_reps_solicitud"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="oficialiaElectoralApp.peticion.id_origen" for="field_id_origen">Id Origen</label>
            <input type="text" class="form-control" name="id_origen" id="field_id_origen"
                    ng-model="vm.peticion.id_origen"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setOficio_prevencion($file, vm.peticion)">
            <label class="control-label" data-translate="oficialiaElectoralApp.peticion.oficio_prevencion" for="field_oficio_prevencion">Oficio Prevencion</label>
            <div>
                <div ng-if="vm.peticion.oficio_prevencion" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.peticion.oficio_prevencionContentType, vm.peticion.oficio_prevencion)">open</a><br>
                    <span class="pull-left">{{vm.peticion.oficio_prevencionContentType}}, {{vm.byteSize(vm.peticion.oficio_prevencion)}}</span>
                    <button type="button" ng-click="vm.peticion.oficio_prevencion=null;vm.peticion.oficio_prevencionContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setOficio_prevencion($file, vm.peticion)">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="oficio_prevencion" id="field_oficio_prevencion"
                    ng-model="vm.peticion.oficio_prevencion"
                    />
            <input type="hidden" class="form-control" name="oficio_prevencionContentType" id="field_oficio_prevencionContentType"
                    ng-model="vm.peticion.oficio_prevencionContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="oficialiaElectoralApp.peticion.num_oficio_prevencion" for="field_num_oficio_prevencion">Num Oficio Prevencion</label>
            <input type="text" class="form-control" name="num_oficio_prevencion" id="field_num_oficio_prevencion"
                    ng-model="vm.peticion.num_oficio_prevencion"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setNotificacion_prevencion($file, vm.peticion)">
            <label class="control-label" data-translate="oficialiaElectoralApp.peticion.notificacion_prevencion" for="field_notificacion_prevencion">Notificacion Prevencion</label>
            <div>
                <div ng-if="vm.peticion.notificacion_prevencion" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.peticion.notificacion_prevencionContentType, vm.peticion.notificacion_prevencion)">open</a><br>
                    <span class="pull-left">{{vm.peticion.notificacion_prevencionContentType}}, {{vm.byteSize(vm.peticion.notificacion_prevencion)}}</span>
                    <button type="button" ng-click="vm.peticion.notificacion_prevencion=null;vm.peticion.notificacion_prevencionContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setNotificacion_prevencion($file, vm.peticion)">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="notificacion_prevencion" id="field_notificacion_prevencion"
                    ng-model="vm.peticion.notificacion_prevencion"
                    />
            <input type="hidden" class="form-control" name="notificacion_prevencionContentType" id="field_notificacion_prevencionContentType"
                    ng-model="vm.peticion.notificacion_prevencionContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="oficialiaElectoralApp.peticion.num_notificacion_prevencion" for="field_num_notificacion_prevencion">Num Notificacion Prevencion</label>
            <input type="text" class="form-control" name="num_notificacion_prevencion" id="field_num_notificacion_prevencion"
                    ng-model="vm.peticion.num_notificacion_prevencion"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setRespuesta_prevencion($file, vm.peticion)">
            <label class="control-label" data-translate="oficialiaElectoralApp.peticion.respuesta_prevencion" for="field_respuesta_prevencion">Respuesta Prevencion</label>
            <div>
                <div ng-if="vm.peticion.respuesta_prevencion" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.peticion.respuesta_prevencionContentType, vm.peticion.respuesta_prevencion)">open</a><br>
                    <span class="pull-left">{{vm.peticion.respuesta_prevencionContentType}}, {{vm.byteSize(vm.peticion.respuesta_prevencion)}}</span>
                    <button type="button" ng-click="vm.peticion.respuesta_prevencion=null;vm.peticion.respuesta_prevencionContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setRespuesta_prevencion($file, vm.peticion)">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="respuesta_prevencion" id="field_respuesta_prevencion"
                    ng-model="vm.peticion.respuesta_prevencion"
                    />
            <input type="hidden" class="form-control" name="respuesta_prevencionContentType" id="field_respuesta_prevencionContentType"
                    ng-model="vm.peticion.respuesta_prevencionContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="oficialiaElectoralApp.peticion.num_respuesta_prevencion" for="field_num_respuesta_prevencion">Num Respuesta Prevencion</label>
            <input type="text" class="form-control" name="num_respuesta_prevencion" id="field_num_respuesta_prevencion"
                    ng-model="vm.peticion.num_respuesta_prevencion"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
    </div>
</form>
