<div>
    <h2>Peticions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="peticion.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Peticion
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nomsolicitante"><span>Nomsolicitante</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="paternosolicitante"><span>Paternosolicitante</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maternosolicitante"><span>Maternosolicitante</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cargosolicitante"><span>Cargosolicitante</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="direccionsolicitante"><span>Direccionsolicitante</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fechayhora"><span>Fechayhora</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="actocertificar"><span>Actocertificar</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="oficio"><span>Oficio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nom_reps_solicitud"><span data-translate="oficialiaElectoralApp.peticion.nom_reps_solicitud">Nom Reps Solicitud</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="id_numero_solicitud"><span data-translate="oficialiaElectoralApp.peticion.id_numero_solicitud">Id Numero Solicitud</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="id_origen"><span data-translate="oficialiaElectoralApp.peticion.id_origen">Id Origen</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="oficio_prevencion"><span data-translate="oficialiaElectoralApp.peticion.oficio_prevencion">Oficio Prevencion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="num_oficio_prevencion"><span data-translate="oficialiaElectoralApp.peticion.num_oficio_prevencion">Num Oficio Prevencion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notificacion_prevencion"><span data-translate="oficialiaElectoralApp.peticion.notificacion_prevencion">Notificacion Prevencion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="num_notificacion_prevencion"><span data-translate="oficialiaElectoralApp.peticion.num_notificacion_prevencion">Num Notificacion Prevencion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="respuesta_prevencion"><span data-translate="oficialiaElectoralApp.peticion.respuesta_prevencion">Respuesta Prevencion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="num_respuesta_prevencion"><span data-translate="oficialiaElectoralApp.peticion.num_respuesta_prevencion">Num Respuesta Prevencion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="peticion in vm.peticions track by peticion.id">
                    <td><a ui-sref="peticion-detail({id:peticion.id})">{{peticion.id}}</a></td>
                    <td>{{peticion.nomsolicitante}}</td>
                    <td>{{peticion.paternosolicitante}}</td>
                    <td>{{peticion.maternosolicitante}}</td>
                    <td>{{peticion.cargosolicitante}}</td>
                    <td>{{peticion.direccionsolicitante}}</td>
                    <td>{{peticion.fechayhora | date:'medium'}}</td>
                    <td>{{peticion.actocertificar}}</td>
                    <td>
                        <a ng-if="peticion.oficio" ng-click="vm.openFile(peticion.oficioContentType, peticion.oficio)">open</a>
                        <span ng-if="peticion.oficio">{{peticion.oficioContentType}}, {{vm.byteSize(peticion.oficio)}}</span>
                    </td>
                    <td>{{peticion.nom_reps_solicitud}}</td>
                    <td>{{peticion.id_numero_solicitud}}</td>
                    <td>{{peticion.id_origen}}</td>
                    <td>
                        <a ng-if="peticion.oficio_prevencion" ng-click="vm.openFile(peticion.oficio_prevencionContentType, peticion.oficio_prevencion)">open</a>
                        <span ng-if="peticion.oficio_prevencion">{{peticion.oficio_prevencionContentType}}, {{vm.byteSize(peticion.oficio_prevencion)}}</span>
                    </td>
                    <td>{{peticion.num_oficio_prevencion}}</td>
                    <td>
                        <a ng-if="peticion.notificacion_prevencion" ng-click="vm.openFile(peticion.notificacion_prevencionContentType, peticion.notificacion_prevencion)">open</a>
                        <span ng-if="peticion.notificacion_prevencion">{{peticion.notificacion_prevencionContentType}}, {{vm.byteSize(peticion.notificacion_prevencion)}}</span>
                    </td>
                    <td>{{peticion.num_notificacion_prevencion}}</td>
                    <td>
                        <a ng-if="peticion.respuesta_prevencion" ng-click="vm.openFile(peticion.respuesta_prevencionContentType, peticion.respuesta_prevencion)">open</a>
                        <span ng-if="peticion.respuesta_prevencion">{{peticion.respuesta_prevencionContentType}}, {{vm.byteSize(peticion.respuesta_prevencion)}}</span>
                    </td>
                    <td>{{peticion.num_respuesta_prevencion}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="peticion-detail({id:peticion.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="peticion.edit({id:peticion.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="peticion.delete({id:peticion.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
